@charset "UTF-8";
* {
  box-sizing: border-box; }

a {
  text-decoration: none; }

html {
  font-size: 16px; }

main {
  margin-top: 80px; }

.container-fluid {
  padding: 0px; }

/*----------------------------SECCIÓN NAV ---------------------------*/
nav {
  text-decoration: none;
  list-style: none;
  background-color: #0f1b07;
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0px;
  z-index: 4; }
  nav div {
    max-width: 1366px;
    margin: 0px auto; }
  nav #navLogo {
    line-height: 80px;
    margin-left: 30px; }
  nav ul {
    float: right;
    margin-right: 20px; }
    nav ul li {
      display: inline-block;
      margin: 0px 5px;
      line-height: 80px; }
      nav ul li a {
        color: white;
        font-size: 1.09rem;
        text-transform: uppercase;
        font-weight: bold;
        padding: 7px 13px;
        border-radius: 4px; }
    nav ul #homeResponsive {
      display: none; }
  nav li:not(.car-li):hover a {
    background-color: #2b4d14;
    text-decoration: none;
    color: white;
    transition-duration: .5s; }
  nav #navLogo img:hover {
    background: none;
    transform: scale(1.1);
    transition: .5s; }
  nav #navLogo:hover {
    background: none; }
  nav #checkboton {
    font-size: 2.1rem;
    color: white;
    float: right;
    margin-right: 40px;
    line-height: 70px;
    cursor: pointer;
    display: none; }
  nav #check {
    display: none; }
  nav .navInvolucrate-oculto {
    display: none;
    position: fixed;
    top: 65px;
    z-index: 2;
    height: 80px;
    width: 140px;
    margin: 0px; }
    nav .navInvolucrate-oculto a {
      padding: 5px;
      margin: 0;
      line-height: 30px;
      display: block;
      height: 50%;
      width: 100%;
      border: white solid 1px;
      border-radius: 5px;
      text-align: center;
      font-size: 1rem; }
  nav .navInvolucrateLi:hover div a {
    background-color: #5c821a; }
  nav .navInvolucrateLi div a:hover {
    background-color: #839e53; }

/*----------------------------------SECCIÓN FOOTER ------------------------------------*/
#footer {
  background-color: #0f1b07;
  color: white;
  font-size: 1.1rem; }
  #footer a {
    text-decoration: none;
    color: white;
    padding: 3px; }
  #footer a:hover {
    color: white; }
  #footer #copyright {
    font-size: .8rem;
    width: fit-content; }

/*------------------------------SECCIÓN INDEX--------------------------------------------*/
#index__main div {
  height: 100vh; }

#index__main #index__main__div1 {
  margin-top: 80px;
  background-image: url(../multimedia/imagenes/principalEditada2.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #index__main #index__main__div1 h1 {
    text-shadow: black 4px 3px 3px;
    font-size: 4.2rem;
    font-weight: bold;
    max-width: 1366px;
    padding: 10px 0px; }
  #index__main #index__main__div1 p {
    padding: 20px 100px 0px 100px;
    width: auto;
    min-width: 200px;
    max-width: 1080px;
    font-size: 1.7rem;
    text-shadow: black 3px 2px 2px; }
  #index__main #index__main__div1 a {
    text-decoration: none;
    color: white;
    border: solid white 2px;
    display: inline-block;
    padding: 0px 25px;
    margin-top: 25px;
    font-weight: bold;
    font-size: 2rem;
    text-shadow: black 3px 2px 2px;
    background-color: rgba(5, 34, 51, 0.4);
    border-radius: 5px; }
  #index__main #index__main__div1 a:hover {
    background-color: rgba(28, 101, 143, 0.8);
    box-shadow: black 0px 0px 10px;
    transition-duration: .2s; }

#index__main #index__main__div2 {
  min-height: 98vh;
  height: auto;
  max-height: 240vh;
  max-width: 1366px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  #index__main #index__main__div2 .index-div2-tarjetas {
    height: 70vh;
    max-height: 500px;
    max-width: 320px;
    width: 30vw;
    min-width: 300px;
    display: flex;
    flex-flow: column wrap; }
    #index__main #index__main__div2 .index-div2-tarjetas .index-div2-img {
      width: 100%;
      height: 55%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #index__main #index__main__div2 .index-div2-tarjetas .index-div2-texto {
      height: 45%;
      text-align: center;
      width: 100%;
      position: relative;
      padding: 0px 30px; }
      #index__main #index__main__div2 .index-div2-tarjetas .index-div2-texto h2 {
        font-size: 2rem;
        font-weight: bold; }
      #index__main #index__main__div2 .index-div2-tarjetas .index-div2-texto a {
        position: absolute;
        bottom: 10px;
        left: 0;
        right: 0;
        margin: 10px auto 0px auto;
        padding: 3px 0px;
        width: 130px;
        text-decoration: none;
        color: black;
        font-weight: bold;
        border: black solid 2px;
        font-size: 1.1rem; }
      #index__main #index__main__div2 .index-div2-tarjetas .index-div2-texto a:hover {
        transform: scale(1.1);
        transition-duration: .5s; }

#index__main #index__main__div3 {
  background-image: url(../multimedia/imagenes/index-div3-bg.jpg);
  background-size: cover;
  min-height: 90vh;
  height: auto;
  max-height: 220vh;
  width: 100%;
  padding-bottom: 80px; }
  #index__main #index__main__div3 h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 3.5rem;
    font-weight: bold; }
  #index__main #index__main__div3 #index__main__div3__tarjetas {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1366px;
    margin: 30px auto 0px auto; }
    #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas {
      margin-top: 30px;
      height: 80vh;
      max-height: 600px;
      width: 28vw;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      color: #0f1b07;
      padding: 0px;
      box-shadow: black 0px 0px 2px;
      background-color: rgba(255, 255, 255, 0.8); }
      #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas .main__div3__imagenes {
        width: 100%;
        height: 55%;
        overflow: hidden; }
      #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas .main__div3__texto {
        height: 45%;
        position: relative; }
        #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas .main__div3__texto .fecha {
          position: absolute;
          top: 10px;
          color: #575555;
          font-size: .75rem; }
      #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas h3 {
        margin: 35px 0px 10px 20px;
        font-weight: bold; }
      #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas p {
        padding: 2px 15px 5px 20px; }
      #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas a {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: darkblue; }
      #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas a:hover {
        transform: scale(1.1);
        text-decoration: none;
        transition-duration: .4s; }
    #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas:hover {
      background-color: white;
      transform: scale(1.05);
      transition-duration: 0.6s;
      box-shadow: black 0px 0px 10px; }

/*------------------------SECCIÓN NOSOTROS-------------------------------------*/
#nosotros__main {
  background-image: url(../multimedia/imagenes/index-div3-bg.jpg);
  background-attachment: fixed;
  background-size: cover; }
  #nosotros__main #nosotros__main__div1 {
    margin-top: 80px;
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center; }
    #nosotros__main #nosotros__main__div1 #nosotros__div1__bg {
      box-shadow: #292929 0px 0px 5px;
      border-radius: 12px;
      background-color: rgba(255, 255, 255, 0.9);
      height: 80%;
      width: 80%;
      max-width: 1250px;
      max-height: 700px;
      display: flex;
      align-content: center; }
      #nosotros__main #nosotros__main__div1 #nosotros__div1__bg #nosotros__div1__imagen {
        background-image: url(../multimedia/imagenes/ThoreauEdited.png);
        background-size: 96% 100%;
        height: 100%; }
      #nosotros__main #nosotros__main__div1 #nosotros__div1__bg h1 {
        font-size: 2.5rem;
        font-weight: bold; }
      #nosotros__main #nosotros__main__div1 #nosotros__div1__bg #nosotros__div1__texto__presentacion {
        line-height: 28px; }
  #nosotros__main #nosotros__main__div2 {
    height: 70vh;
    display: flex;
    justify-content: center; }
    #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div {
      width: 1200px;
      position: relative; }
      #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__img {
        position: absolute;
        z-index: 1; }
        #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__img img {
          border-radius: 10px;
          box-shadow: black 0px 0px 15px; }
        #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__img .nosotros-imgOculta {
          display: none; }
      #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__div {
        position: absolute;
        background-color: #5c821a;
        border-radius: 10px;
        color: white;
        padding: 2%;
        height: 420px;
        width: 700px;
        top: 80px;
        left: 500px;
        z-index: 2;
        box-shadow: black 0px 0px 15px; }
        #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__div ol {
          margin-top: 35px;
          padding-left: 60px;
          text-shadow: black 2px 1px 1px;
          font-size: 1.15rem; }
        #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__div h2 {
          font-size: 2.3rem;
          text-shadow: black 3px 1px 1px;
          display: inline-block;
          padding-left: 20px; }
  #nosotros__main #nosotros__main__div3 {
    height: 70vh;
    position: relative;
    width: 1200px; }
    #nosotros__main #nosotros__main__div3 .nosotros-imgOculta {
      display: none; }
    #nosotros__main #nosotros__main__div3 img {
      position: absolute;
      left: 670px;
      top: 80px;
      z-index: 1;
      border-radius: 10px;
      box-shadow: black 0px 0px 15px; }
    #nosotros__main #nosotros__main__div3 div {
      position: absolute;
      height: 420px;
      width: 700px;
      z-index: 2;
      background-color: #c6d166;
      border-radius: 10px;
      color: black;
      padding: 2%;
      text-shadow: darkgrey 2px 1px 1px;
      box-shadow: black 0px 0px 15px; }
      #nosotros__main #nosotros__main__div3 div h2 {
        font-size: 2.3re;
        padding: 20px; }
      #nosotros__main #nosotros__main__div3 div ol {
        padding-left: 50px;
        margin-top: 15px;
        font-size: 1.15rem; }

/*-----------------------------SECCIÓN INVOLUCRATE------------------------------*/
#involucrate {
  background-image: url(../multimedia/imagenes/index-div3-bg.jpg);
  background-attachment: fixed;
  background-size: cover; }
  #involucrate #involucrate__div1 {
    height: 100vh;
    margin-top: 80px;
    background-image: url(../multimedia/imagenes/involucrate-principal.png);
    background-size: 100% 100%;
    display: flex;
    align-items: center; }
    #involucrate #involucrate__div1 h1 {
      display: inline-block;
      color: white;
      text-shadow: black 5px 3px 3px;
      padding: 150px 0px 0px 250px;
      font-size: 4.5rem;
      font-weight: bold; }
  #involucrate #involucrate__div2 {
    height: fit-content; }
    #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg {
      height: fit-content;
      width: 100%;
      max-width: 1366px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      align-items: baseline;
      color: white;
      margin: 0px auto; }
      #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas {
        height: 50vh;
        max-height: 380px;
        width: 30vw;
        max-width: 380px;
        box-shadow: black 0px 0px 8px;
        background-size: cover;
        margin-top: 30px;
        position: relative;
        overflow: hidden; }
        #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas img {
          height: 400px;
          width: 400px;
          position: absolute;
          top: -20px;
          transform: translateY(0px);
          transition: transform ease-in .3s; }
        #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas .involucrate__div2__tarjetasOcultas {
          background-color: transparent;
          color: white;
          text-align: center;
          height: 100%;
          width: 100%;
          padding: 10px;
          position: absolute;
          display: flex; }
          #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas .involucrate__div2__tarjetasOcultas h3 {
            position: relative;
            font-size: 2rem;
            padding: 0px;
            width: 80%;
            font-weight: bold;
            margin: 0px auto 0px auto;
            height: fit-content; }
          #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas .involucrate__div2__tarjetasOcultas p {
            font-size: 1.1rem;
            font-weight: bold;
            padding: 10px;
            position: absolute;
            margin-top: 50px;
            justify-self: center;
            align-self: center;
            transform: translateY(350px) scale(0.8);
            transition: transform ease-out 300ms; }
          #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas .involucrate__div2__tarjetasOcultas h3::after {
            content: '';
            background-color: white;
            display: block;
            height: 3px;
            position: absolute;
            bottom: -10px;
            width: 100%;
            transform: scale(0);
            transition: transform ease-in 300ms; }
      #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas:hover .involucrate__div2__tarjetasOcultas {
        background: rgba(0, 0, 0, 0.9);
        transition: background ease-in 300ms;
        left: 0; }
      #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas:hover img {
        transform: translateY(20px); }
      #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas:hover h3::after {
        transform: scale(1); }
      #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas:hover p {
        transform: translateY(0px) scale(1); }
  #involucrate #involucrate__div3 {
    height: 95vh;
    width: 100%;
    margin: 100px 0px 1px 0px;
    box-shadow: black 0px 0px 10px;
    background-image: url(../multimedia/imagenes/involucrate-div3.jpg);
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    #involucrate #involucrate__div3 h1 {
      display: inline-block;
      color: white;
      text-shadow: black 3px 2px 2px;
      padding-left: 40px;
      font-size: 6rem;
      font-weight: bold; }
    #involucrate #involucrate__div3 blockquote {
      margin-top: 30px;
      color: white;
      text-shadow: black 1px 1px 1px;
      font-size: 2rem;
      font-weight: bold; }
    #involucrate #involucrate__div3 a {
      display: inline-block;
      margin-top: 60px;
      color: white;
      font-weight: bold;
      font-size: 1.7rem;
      text-decoration: none;
      border: white solid 1px;
      padding: 3px 9px;
      background-color: rgba(6, 255, 6, 0.7);
      border-radius: 10px; }

/*---------------------------SECCIÓN DONACIONES----------------------------*/
#donaciones {
  background-color: #e9e9e9; }
  #donaciones #donaciones-lista {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    max-width: 1080px;
    margin: 0px auto; }
    #donaciones #donaciones-lista .carta-donacion {
      height: 400px;
      max-width: 300px;
      padding: 15px;
      border-radius: 15px;
      box-shadow: black 0px 0px 5px;
      margin: 10px;
      background-color: white;
      position: relative; }
      #donaciones #donaciones-lista .carta-donacion a {
        text-decoration: none;
        color: black; }
      #donaciones #donaciones-lista .carta-donacion .donacion-datos img {
        display: block;
        margin: 10px auto 10px auto; }
      #donaciones #donaciones-lista .carta-donacion .donacion-interaccion button.leerMenos-btn,
      #donaciones #donaciones-lista .carta-donacion .donacion-interaccion button.leerMas-btn {
        margin: 7px 2px;
        border: solid gray 1px;
        border-radius: 18px;
        right: 20px;
        bottom: 20px;
        position: absolute; }
      #donaciones #donaciones-lista .carta-donacion .donacion-interaccion form div input {
        margin: 10px 2px; }
      #donaciones #donaciones-lista .carta-donacion .donacion-interaccion .entradaInvalida,
      #donaciones #donaciones-lista .carta-donacion .donacion-interaccion .noEsNumero {
        color: red;
        font-weight: bold; }
  #donaciones .donacion-datos .descripcionLarga,
  #donaciones .donacion-interaccion label,
  #donaciones .leerMenos-btn,
  #donaciones .donacion-interaccion input,
  #donaciones .btn-agregar,
  #donaciones .donacion-interaccion br,
  #donaciones .btn-donar,
  #donaciones .entradaInvalida,
  #donaciones .noEsNumero {
    display: none; }

/*----------------------NAV DE DONACIONES ---------------------------------*/
nav .car-li {
  line-height: 70px;
  color: black;
  text-transform: none;
  float: right;
  position: relative; }
  nav .car-li div.carrito {
    width: 320px;
    display: none;
    position: absolute;
    top: 80px;
    right: -50%;
    /*Chequear responsive en 1024px pq se rompe al achicarse el tamaño de los li (50% pasa a representar menos)*/
    background-color: white;
    z-index: 2;
    border: solid black 1px;
    border-radius: 10px; }
    nav .car-li div.carrito p {
      font-weight: bold;
      line-height: 25px;
      text-align: center;
      padding: 15px; }
    nav .car-li div.carrito table {
      width: 100%;
      display: none;
      line-height: 20px; }
      nav .car-li div.carrito table th {
        line-height: 45px;
        font-size: 1.1rem;
        font-weight: bold;
        background: lightgray; }
      nav .car-li div.carrito table thead tr th:nth-child(2),
      nav .car-li div.carrito table tr td:nth-child(2) {
        padding-left: 20px; }
      nav .car-li div.carrito table tr td:nth-child(3) {
        text-align: center;
        font-weight: bold; }
      nav .car-li div.carrito table tr td:nth-child(4) {
        width: 25px; }
      nav .car-li div.carrito table tr {
        border-bottom: #bbbbbb solid 1px; }
      nav .car-li div.carrito table tr img {
        padding: 5px; }
    nav .car-li div.carrito button.vaciar-carrito {
      width: 30%;
      margin-left: 4%; }
    nav .car-li div.carrito button.concretar-carrito {
      margin-right: 4%;
      width: 60%; }
      nav .car-li div.carrito button.concretar-carrito a {
        display: inline-block;
        font-weight: bold;
        text-transform: none;
        height: 100%;
        width: 100%;
        padding: 0px; }
    nav .car-li div.carrito .concretar-carrito a:hover {
      background-color: inherit;
      color: white; }
    nav .car-li div.carrito .carritoVacio-mensaje {
      text-align: center;
      line-height: 1.4em;
      font-size: 1.1rem;
      padding: 20px;
      margin: 0;
      font-weight: bold; }
  nav .car-li button {
    display: none;
    height: 40px;
    font-weight: bold; }
  nav .car-li button.vaciar-carrito:hover {
    background-color: #444444; }

/*-----------------------------SECCIÓN PROYECTOS----------------------------------------*/
#proyectos {
  margin-top: 80px;
  background-image: url(../multimedia/imagenes/index-div3-bg.jpg);
  background-attachment: fixed;
  background-size: cover; }
  #proyectos .proyectos__div {
    margin: 0px auto 0px auto;
    padding: 50px 0px 50px 0px;
    background-color: rgba(255, 255, 255, 0.8); }
  #proyectos .proyectos__titulos {
    margin: 0px;
    text-align: center; }
    #proyectos .proyectos__titulos h2 {
      font-size: 1.6rem;
      font-weight: bold;
      position: -webkit-sticky;
      position: sticky;
      top: 90px; }
  #proyectos .proyectos__cuerpo {
    margin: 0px; }
    #proyectos .proyectos__cuerpo p {
      line-height: 26px; }
    #proyectos .proyectos__cuerpo .proyectos__fecha {
      color: #5a5a5a;
      font-size: smaller;
      margin: 0px 0px 10px 0px; }
  #proyectos #proyectos__div1 p img {
    margin: 0px 20px 15px 0px; }
  #proyectos #proyectos__div2 img {
    width: 600px;
    height: 400px;
    margin-bottom: 20px; }
  #proyectos #proyectos__div3 #proyectos__div3__divImg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px; }
    #proyectos #proyectos__div3 #proyectos__div3__divImg img {
      width: 600px;
      height: 400px;
      margin-bottom: 25px; }

/*---------------------------------------SECCIÓN CONTACTOS----------------------------------*/
#contacto {
  margin: 80px 0px 0px 0px;
  height: 90vh;
  position: relative;
  background-image: url(../multimedia/imagenes/contacto-bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center; }
  #contacto #contacto__formulario {
    border: black solid 5px;
    border-radius: 25px;
    position: absolute;
    height: 85%;
    width: 80%;
    max-width: 1366px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 40px;
    font-weight: bold; }
  #contacto h1 {
    font-weight: bold;
    font-size: 3rem; }

/*--------------------------MEDIA QUERYS------------------------*/
@media screen and (max-width: 1366px) {
  html {
    font-size: 15px; }
  #index__main #index__main__div1 h1 {
    padding: 10px 100px; }
  /*---------NOSOTROS.HTML-----------*/
  #nosotros__main #nosotros__main__div1 {
    padding-top: 20px; }
    #nosotros__main #nosotros__main__div1 #nosotros__div1__bg {
      height: 85%;
      width: 90%; }
  #nosotros__main #nosotros__main__div2,
  #nosotros__main #nosotros__main__div3 {
    height: 83vh; }
  /*---------INVOLUCRATE.HTML------------*/
  #involucrate #involucrate__div1 h1 {
    padding: 100px 0px 0px 50px; } }

@media screen and (max-width: 1024px) {
  html {
    font-size: 15px; }
  nav ul {
    margin-right: 10px; }
    nav ul li a {
      padding: 5px 10px;
      margin: 0px 3px; }
  #index__main #index__main__div2 {
    flex-wrap: wrap; }
    #index__main #index__main__div2 .index-div2-tarjetas {
      height: 85vh;
      width: 33vw; }
      #index__main #index__main__div2 .index-div2-tarjetas .index-div2-texto a {
        bottom: 35px; }
  #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas {
    width: 30vw;
    max-height: 500px; }
    #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas .main__div3__texto .fecha {
      top: 7px; }
  #index__main #index__main__div3 #index__main__div3__tarjetas h3 {
    margin: 30px 0px 8px 18px;
    font-size: 24px; }
  #index__main #index__main__div3 #index__main__div3__tarjetas p {
    padding: 2px 15px 5px 18px;
    font-size: 15px; }
  #index__main #index__main__div3 #index__main__div3__tarjetas a {
    bottom: 15px; }
  #nosotros__main #nosotros__main__div2 {
    height: 75vh; }
    #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div {
      width: 90%;
      height: 80%; }
      #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__img img {
        display: none; }
      #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__img .nosotros-imgOculta {
        display: block;
        border-radius: 10px; }
      #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__div {
        height: 340px;
        width: 500px;
        left: 45%;
        top: 50px; }
        #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__div h2 {
          font-size: 2rem;
          padding-left: 10px; }
        #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__div ol {
          margin-top: 15px;
          padding-left: 30px;
          font-size: 1.1rem; }
  #nosotros__main #nosotros__main__div3 {
    width: 90%;
    height: 75vh; }
    #nosotros__main #nosotros__main__div3 img {
      display: none; }
    #nosotros__main #nosotros__main__div3 .nosotros-imgOculta {
      display: block;
      left: 48%;
      top: 50px; }
    #nosotros__main #nosotros__main__div3 div {
      height: 340px;
      width: 500px; }
      #nosotros__main #nosotros__main__div3 div h2 {
        font-size: 2rem;
        padding: 0px 0px 0px 10px; }
      #nosotros__main #nosotros__main__div3 div ol {
        padding-left: 30px;
        font-size: 1.1rem; }
  #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg h3 {
    margin-top: 12px; }
  #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas .involucrate__div2__encabezado {
    height: 18%; }
  #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas .involucrate__div2__tarjetasOcultas {
    padding: 8px;
    height: 82%; }
    #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas .involucrate__div2__tarjetasOcultas p {
      font-size: 16px;
      padding: 9px; }
  #contacto #contacto__formulario {
    height: 95%;
    width: 95%;
    padding: 20px; }
    #contacto #contacto__formulario .contacto-espacioOculto {
      display: none; } }

@media screen and (max-width: 850px) {
  nav #checkboton {
    display: block; }
  nav #check:checked ~ ul {
    left: 0;
    transition: .5s; }
  nav ul {
    position: fixed;
    width: 100%;
    height: 70vh;
    background-color: #2b4d14;
    top: 70px;
    text-align: center;
    left: -100%; }
    nav ul #homeResponsive {
      display: block; }
    nav ul li {
      display: block;
      margin-top: 10px; }
      nav ul li a {
        font-size: 20px; }
  nav ul li a:hover {
    background: none;
    color: #0f1b07;
    transition: .2s; }
  #footer .footer__contenido {
    margin: 20px 0px; }
  #index__main #index__main__div1 {
    background-position: center; }
    #index__main #index__main__div1 h1 {
      font-size: 36pt; }
    #index__main #index__main__div1 p {
      padding-top: 20px; }
    #index__main #index__main__div1 a {
      margin-top: 20px; }
    #index__main #index__main__div1 a:hover {
      font-size: 21pt;
      transition-duration: .5s; }
  #index__main #index__main__div3 {
    background-attachment: fixed;
    margin-bottom: 0px; }
    #index__main #index__main__div3 h2 {
      margin-top: 30px; }
    #index__main #index__main__div3 #index__main__div3__tarjetas {
      margin-bottom: 0px;
      height: 180vh; }
      #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas {
        margin: 30px 0px;
        width: 300px; }
  #nosotros__main #nosotros__main__div1 {
    height: 150vh; }
    #nosotros__main #nosotros__main__div1 #nosotros__div1__bg #nosotros__div1__imagen {
      height: 40%;
      width: 45%;
      margin: 5px auto 5px auto; }
    #nosotros__main #nosotros__main__div1 #nosotros__div1__bg #nosotros__div1__texto__presentacion {
      margin-top: 0px;
      font-size: 15px;
      line-height: 25px; }
  #nosotros__main #nosotros__main__div2 {
    height: fit-content; }
    #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div {
      width: 80%;
      height: fit-content; }
      #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div .nosotros-imgOculta {
        display: none; }
      #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__div {
        position: static;
        width: 100%;
        height: fit-content;
        margin-bottom: 40px; }
        #nosotros__main #nosotros__main__div2 #nosotros__main__div2__div #nosotros__main__div2__div__div h2 {
          text-align: center; }
  #nosotros__main #nostros__main__div3 {
    height: fit-content;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center; }
    #nosotros__main #nostros__main__div3 img {
      display: none; }
    #nosotros__main #nostros__main__div3 .nosotros-imgOculta {
      display: none; }
    #nosotros__main #nostros__main__div3 div {
      position: static;
      height: fit-content;
      width: 100%;
      margin: 20px 0px; }
      #nosotros__main #nostros__main__div3 div h2 {
        text-align: center; }
  #involucrate #involucrate__div1 {
    height: 100vh;
    background-size: cover;
    justify-content: flex-start;
    align-items: flex-end; }
    #involucrate #involucrate__div1 h1 {
      padding-left: 0px;
      font-size: 44pt;
      margin: 0px 0px 200px 30px; }
  #involucrate #involucrate__div2 {
    height: fit-content; }
    #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg {
      height: fit-content; }
      #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg h3 {
        margin-top: 10px; }
      #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas {
        min-width: 300px;
        width: 45vw;
        height: 40vh;
        margin: 10px 0px;
        overflow: hidden; }
        #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas .involucrate__div2__tarjetasOcultas {
          height: 40vh;
          padding: 8px; }
          #involucrate #involucrate__div2 #involucrate__div2__tarjetas-bg .involucrate__div2__tarjetas .involucrate__div2__tarjetasOcultas p {
            font-size: 15px;
            padding: 8px; }
  #involucrate #involucrate__div3 {
    background-size: cover;
    background-position: center; } }

@media screen and (max-height: 586px) {
  nav ul {
    top: 70px;
    height: 100vh; } }

@media screen and (max-width: 400px) {
  nav #navLogo {
    margin-left: 12px; }
  nav #checkboton {
    margin-right: 18px; }
  #index__main #index__main__div1 {
    height: 75vh;
    background-size: cover; }
    #index__main #index__main__div1 h1 {
      font-size: 35px;
      margin: 20px; }
    #index__main #index__main__div1 p {
      margin: 10px;
      font-size: 20px; }
    #index__main #index__main__div1 a {
      font-size: 20px; }
    #index__main #index__main__div1 a:hover {
      font-size: 22px; }
  #index__main #index__main__div2 .index-div2-tarjetas {
    height: 55vh;
    margin-top: 20px; }
  #index__main #index__main__div3 {
    background-repeat: no-repeat; }
    #index__main #index__main__div3 #index__main__div3__tarjetas {
      height: fit-content;
      margin-top: 0px; }
      #index__main #index__main__div3 #index__main__div3__tarjetas .main-div3-tarjetas {
        height: 60vh;
        width: 90vw;
        margin-top: 15px; } }
